pytest==7.3.1
allure-pytest==2.13.2
allure-python-commons>=2.13.0
colorlog>=6.0.0
requests>=2.25.1
pyyaml>=5.4.1
jsonpath>=0.82
faker>=8.4.0
pytest-rerunfailures>=10.0
pytest-html>=3.1.1
pytest-ordering>=0.6
pytest-timeout>=2.0.0